<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:cover {"useFeaturedImage":true,"dimRatio":70,"overlayColor":"contrast","isUserOverlayColor":true,"align":"full","style":{"spacing":{"padding":{"top":"6rem","bottom":"6rem","left":"32px","right":"32px"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-cover alignfull" style="padding-top:6rem;padding-right:32px;padding-bottom:6rem;padding-left:32px"><span aria-hidden="true" class="wp-block-cover__background has-contrast-background-color has-background-dim-70 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:post-title {"level":1,"textColor":"base","fontSize":"x-large"} /--></div></div>
<!-- /wp:cover -->

<!-- wp:post-content {"align":"full","layout":{"type":"default"}} /-->

<!-- wp:template-part {"slug":"footer"} /-->
